.heading{
    /* ft tab */
    font-stretch: normal;
    /* c tab */
    color: #000;
    /* fs tab */
    font-style: italic;
    /* fw tab */
    font-weight: normal;
    /* bd tab */
    border: 1px solid #000;
    /* bs tab */
    border-style: none;
    /* bc or bgc tab */
    background-color: #fff;
    /* psr tab */
    position: relative;
    /* psa tab */
    position: absolute;
    /* ta tab */
    text-align: left;
    /* fl tab */
    float: left;
    /* fz2em tab */
    font-size: 2em;
    /* w100% tab */
    width: 100%;
}