.heading{
    /* ft tab */
    font-stretch: normal;
    /* c tab */
    color: #000;
    /* fs tab */
    font-style: italic;
    /* fw tab */
    font-weight: normal;
    /* bd tab */
    border: 1px solid #000;
    /* bs tab */
    border-style: none;
    /* bc tab */
    background-color: #fff;
}